.ms-field.ms_xsmall .ms-options_it {
    font-size: 13px;
}
.ms-field.ms_xsmall > input,
.ms-field.ms_xsmall > select {
    font-size: 14px;
    height: 26px;
}
.ms-field.ms_xsmall > input:focus,
.ms-field.ms_xsmall > select:focus {
    height: 27px;
}
.ms-field.ms_xsmall > input:focus + .clear {
    bottom: -6px;
}
.ms-field.ms_xsmall > .ms-label--float {
    transform: translate(0, 18px) scale(1.31, 1.4)
}