.ms-chips {
    position: relative;
    top: 4px;
    margin-left: -7px;
    margin-bottom: 5px;
}
.ms-chips_it {
    display: inline-block;
    height: 27px;
    font-size: 13px;
    line-height: 27px;
    padding: 0 7px;
    border-radius: 16px;
    background-color: #efefef;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 25px);
    vertical-align: bottom;
    color:rgba(0,0,0,0.5);
}
.ms-chips_close {
    cursor: pointer;
    font-size: 17px;
    height: 17px;
    width: 17px;
    margin-left: 5px;
    background-color: rgba(0,0,0,0.25);
    vertical-align: middle;
    display: inline-block;
    line-height: 18px;
    border-radius: 50%;
    color: #eee;
    font-style: normal;
    text-align: center;
    margin-top: -2px;
}
.ms-chips_close:hover {
    background-color: rgba(0,0,0,0.35);
}