.ms-field.ms--xsmall .ms-options_it {
    font-size: 13px;
    padding: 0 10px;
}
.ms-field.ms--xsmall > input,
.ms-field.ms--xsmall > select {
    font-size: 14px;
    height: 26px;
}
.ms-field.ms--xsmall > input:focus,
.ms-field.ms--xsmall > select:focus {
    height: 27px;
}
.ms-field.ms--xsmall > input:focus + .clear {
    bottom: -6px;
}
.ms-field.ms--xsmall > .ms-label--float {
    transform: translate(0, 20px) scale(1.31, 1.4)
}