.ms-field {
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.ms-field > input, 
.ms-field > select,
.ms-field > textarea {
    height: 32px;
    box-sizing: border-box;
    display: block;
    background: transparent none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.08);
    outline: 0;
    width: 100%;
    padding: 0;
    font-size: 16px;
}
/*text area first line should be there*/
.ms-field > textarea {
    padding-top: 4px;
    max-height: 250px;
    /*overflow: hidden !important;*/
    padding-bottom: 4px;
}
.ms-field > select,
.ms-field--dd > input {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right center;

    /*padding: 0 25px 0 0;*/
}
.ms-field > select {
    padding: 0 25px 0 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 5px;
    color: black;
}
.ms-field > input:focus,
.ms-field > select:focus {
    /*compensate border size increase*/
    height: 33px;
    margin-bottom: -1px;
    border-bottom: 2px solid #2196F3;
}

/*label*/
.ms-label {
    position: absolute;
    display: block;
    color: rgba(0,0,0,.6);
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .3s;
    pointer-events: none;
    transform-origin: left;
    margin-top: -14px;
    /*
    cite: putting the browser on guard for changes that may or may not occur is a bad idea,
    and will do more harm that good. Don’t do it.
    */
    /*will-change: transform, opacity;*/
}
.ms-label--float {
    transform: translate(0, 24px) scale(1.31, 1.4);
    opacity: 0.5;
    color: rgba(0,0,0,.6);
}
.ms_error .ms-label--float, .ms_warning .ms-label--float {
    color: rgba(0,0,0,.6);
}

.ms-label--hide {
    opacity: 0.01;
}

/*clear*/
.ms-field i.rotating {
    position: absolute;
    right: 3px;
    top: 25px;
    background-color: white;
    border-radius: 50%;
}
.ms-field .clear {
    position: absolute;
    right: -7px;
    padding: 0 7px;
    cursor: pointer;
    bottom: 6px;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
}

.ms-field > input:focus + .clear {
    bottom: 7px;
}

.ms--small .clear {
    bottom: 5px;
}
.ms--xsmall .clear {
    bottom: 2px;
}
.mui-col > .clear {
    right: 7px;
}
.mui-container--small > .mui-row > .mui-col > .clear {
    right: -1px;
}
.mui-container--xsmall > .mui-row .mui-col > .clear {
    right: -4px;
}
.mui-container--none > .mui-row .mui-col > .clear {
    right: -8px;
}

#msFieldOptionBody {
    position: absolute;
}