.ms-field {
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.ms-field > input, 
.ms-field > select {
    height: 32px;
    box-sizing: border-box;
    display: block;
    background: transparent none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.13);
    outline: 0;
    width: 100%;
    padding: 0;
    font-size: 16px;
    background-color: transparent;
}
.ms-field > select,
.ms-field--dd > input {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right center;

    /*padding: 0 25px 0 0;*/
}
.ms-field > select {
    padding: 0 25px 0 0;
    appearance: none;
    cursor: pointer;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 5px;
}
.ms-field > input:focus,
.ms-field > select:focus {
    /*compensate border size increase*/
    height: 33px;
    margin-bottom: -1px;
    border-bottom: 2px solid #2196F3;
}

/*label*/
.ms-label {
    position: absolute;
    display: block;
    color: rgba(0,0,0,.7);
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .3s;
    pointer-events: none;
    transform-origin: left;
    margin-top: -15px;
    will-change: transform, opacity;
}
.ms-label--float {
    transform: translate(0, 24px) scale(1.31, 1.4);
    opacity: 0.5;
}
.ms-label--hide {
    opacity: 0.01;
}

/*clear*/
.ms-field i.rotating {
    position: absolute;
    right: 3px;
    top: 25px;
    background-color: white;
    border-radius: 50%;
}
.ms-field .clear {
    position: absolute;
    right: -9px;
    padding: 10px;
    cursor: pointer;
    bottom: -4px;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
}

.ms-field > input:focus + .clear {
    bottom: -3px;
}

.ms_small .clear {
    bottom: -5px;
}
.ms_xsmall .clear {
    bottom: -7px;
}