.ms-field.ms--small .ms-options_it {
  font-size: 13px;
  padding: 0 10px;
}
.ms-field.ms--small > input,
.ms-field.ms--small > select {
  font-size: 15px;
}
.ms-field.ms--small > input:focus,
.ms-field.ms--small > select:focus {
}
.ms-field.ms--small > input:focus + .clear {
  bottom: -4px;
}