/**
 * MUI Panel module
 */
.mui-panel {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0;
  background-color: #FFF;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);*/ /*bad shadow*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: block;
  opacity: 1;
}
.mui-panel--anim1 {
  opacity: 0;
  transform: translate(0, 15px);
}
.mui-panel--anim2 {
  transition: 0.8s ease;
  transform: translate(0, 0);
  opacity: 1;
}

.mui-panel:after {
  clear: both;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mui-panel {
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  }
}

@supports (-ms-ime-align: auto) {
  .mui-panel {
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.12), -1px 0px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  }
}
