.mui-table--small .mui-table td,
.mui-table--small .mui-table th {
    padding: 5px;
}
.mui-table--small {
    margin-left: -6px;
    margin-right: -6px;
}
.mui-table--small .mui-table {
    border-spacing: 0;
}
